@implements IDisposable
@inject BlazorMVVM.Models.NumberViewModel NumberModel
@inject BlazorMVVM.Models.ToggleViewModel ToggleModel 

<div>
    <h3>No VM Wrapper</h3>
    <p>Number: @NumberModel.Number</p>
    <p>Toggle: @ToggleModel.Toggle</p>
</div>

<div>
    <h3>Number Wrapper</h3>
        <p>Number: @NumberModel.Number</p>
        <p>Toggle: @ToggleModel.Toggle</p>
</div>

<div>
    <h3>Two Wrappers</h3>
        <p>Number: @NumberModel.Number</p>
        <p>Toggle: @ToggleModel.Toggle</p>
</div>

<div>
    <h3>Nested Wrappers</h3>
            <p>Number: @NumberModel.Number</p>
            <p>Toggle: @ToggleModel.Toggle</p>
</div>

@functions
{
  //
  protected override void OnInit()
  {
      base.OnInit();
      NumberModel.PropertyChanged += (o,e) => StateHasChanged();
      ToggleModel.PropertyChanged += (o,e) => StateHasChanged();
  }
  void IDisposable.Dispose()
  {
      NumberModel.PropertyChanged -= (o, e) => StateHasChanged();
      ToggleModel.PropertyChanged -= (o, e) => StateHasChanged();
  }
  //
}